{% extends "layout.html.twig" %}

{% block title %}
	Home de la web
{% endblock %}


{% block content %}
	<h1>Bienvenidos a nuetra pagina de inicio</h1>

	<p>Este es un contenido muy dinamico</p>
{% endblock %}
