{% extends "layout.html.twig" %}

{% block content %}
	<div class="alert alert-success" role="alert">
		Iniciaste session, bienvenido {{name}}!!!!!!!!!!!
	</div>

    <a href="/">Volver al inicio</a>
{% endblock %}
