<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/public/css/styles.css" />
</head>

<body>
  <h1>Bienvenidos</h1>
  <a href="/users">Ver usuarios</a>
</body>

</html>