<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>
    <h1>Pagina About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum enim, commodi nisi eaque corporis laudantium
        consectetur, dolore quo quasi aperiam sapiente repellat minus eveniet provident cupiditate aspernatur
        consequatur assumenda mollitia?</p>
    <a href="/">Regresar al inicio.</a>

</body>

</html>